/* Media Queries */
@media (max-height: 380px) {
   .text-col h2 {
    font-size: 2rem;
  }
  .text-col p {
    font-size: 1.2rem;
  }
  .text-col a {
    margin-top: 1.5rem;
  }
  .text-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
    padding: 0 60px;
  }
}
@media (max-width: 918px){
  .img-col{
    display: none;
  }
  header {
    height: 100%;
  }
}

@media (max-width: 780px) {
  nav .mainMenu {
    height: 60%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 0;
    background: rgba(13, 110, 139, 0.95);
    display: none;
    transition: all 1s ease;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu {
    display: block;
  }
  nav .mainMenu li a:hover {
    background: none;
    color: #fff;
    font-size: 1.6rem;
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }
  .img-col {
    display: none;
  }
  .text-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 150px 0;
    padding: 0 60px;
    height: 80%;
  }
  .about-section {
    flex-direction: column;
  }

  .about-text {
    padding: 20px 3.5rem;
  }
  .skill-detail{
    width: 100%;
  }
  .skill-input{
    width: 100%;
  }
  .center-heading::after{
    left: 43%;
  }
  .lead{
    padding: 0 40px;
  }
  .cerebration-section{
    padding: 0 40px;
  }
  .cerebration-section > div{
    flex-direction: column;
    align-items: center;
  }
  .projects-section{
    padding: 0 20px;
  }
  .projects-section > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .image-container{
    width: 100%;
  }
  .box{
    width: 98%;
  }
  .contact-content{
    display: block;
    padding: 0 60px;
    margin-top: 50px;
  }
}

@media (max-width: 540px) {
  nav .logo h1{
    font-size: 20px;
  }
  nav .logo {
    display: flex;
    align-items: center;
  }
  .py-2{
    padding: 30px 0;
  }
  .btn {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px 10px;
  }
  .center-heading::after{
    left: 37%;
  }
  .text-col {
    padding: 0 20px;
    justify-content: center;
  }
  .text-col h2 {
    font-size: 2rem;
  }
  .text-col p {
    font-size: 1.2rem;
  }
  .text-col a {
    margin-top: 2.2rem;
  }
  .about-text {
    padding: 0 1.5rem;
  }
  .cerebration-section{
    padding: 0 10px;
  }
  .cerebration-section > div{
    width: 100%;
  }
  .lead{
    text-align: center;
  }
  .about-text p, .box p,
  .contact-content p {
    font-size: 1rem;
  }
  .contact-content{
    padding: 0 10px;
  }

}